{% extends "./base.html" %}

{% block title %}Bookstore{% endblock %}

{% block content %}
{% include "website/nav.html" %}
<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Book</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row"><a href="/book?id={{ book.id }}" class="link-dec">{{ book.title }}</a></th>
                <td>{{ book.author.name }}</td>
                <td><a href="/books?genre={{ book.genre.name }}" class="link-dec">{{ book.genre.name }}</a></td>
                <td>{{ book.price }} €</td>
                <td>
                    <a href="/pay?id={{ book.id }}" class=" mr-1">Buy</a>
                    <a href="/pay?id={{ book.id }}" class="">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}