{% extends "./base.html" %}

{% block title %}Bookstore{% endblock %}

{% block content %}
{% include "website/nav.html" %}
<div class="container bg-dark text-white mt-3 p-3">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <h2>{{ book.title }}</h2>
            </div>
            <div class="mb-3">
                <div class="mb-1">
                    <h4>Information</h4>
                </div>
                <div class="mb-1">Author: {{ book.author.name }}</div>
                <div class="mb-1">Genre: {{ book.genre.name }}</div>
                <div class="mb-1">Publisher: {{ book.publisher.name }}</div>
                <div class="mb-1">Isban: {{ book.isban }}</div>
                <div class="mb-1">Publishing date: {{ book.published_date.strftime("%d.%m.%Y") }}</div>
            </div>
            <div>
                <div class="mb-1">
                    <h4>Desciption</h4>
                </div>
                <div>
                    {{ book.blurb }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-1">
                Price: <strong>{{ book.price }} €</strong>
            </div>
            <a href="/pay?id={{ book.id }}" class="form-control btn btn-primary"><i class="fa fa-shopping-bag"></i> Buy Now</a>
        </div>
    </div>
</div>
{% endblock %}