{% extends "./base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fa fa-book"></i> BOOKSTORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/genres">Categories</a>
                </li>
            </ul>
            <form class="d-flex">
                <a href="" class="btn border rounded" style="margin-right: 0.4vw;"><i class="fa fa-shopping-bag"></i></a>
                {% if current_user.is_active %}
                    <a href="/account" class="btn btn-primary rounded" style="margin-right: 0.4vw;">{{ current_user.firstname }} {{ current_user.lastname }} <i class="fa fa-user"></i></a>
                    <a href="/logout" class="btn btn-primary rounded">Logout <i class="fa fa-sign-out"></i></a>
                {% else %}
                    <a href="/login" class="btn btn-primary">Login <i class="fa fa-sign-in"></i></a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}