{% extends "./base.html" %}

{% block title %}Bookstore{% endblock %}

{% block content %}
{% include "website/nav.html" %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="/account" class="link-dec">Personal information</a></li>
                <li class="list-group-item bg-light border rounded"><a href="/order-history" class="link-dec">Order history</a></li>
                <li class="list-group-item"><a href="/change-password" class="link-dec">Change password</a></li>
                <li class="list-group-item"><a href="/delete" class="link-dec">Delete account</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <table class="col-12 table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="row">
                                    <div class="col-md-3">Ordernumber</div>
                                    <div class="col-md-5">Book</div>
                                    <div class="col-md-3">Author</div>
                                    <div class="col-md-1">Price</div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            {% if order|length %}
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-3">{{ order.id }}</div>
                                            <div class="col-md-5"><a href="/book?id={{ order.book.id }}" class="link-dec">{{ order.book.title }}</a></div>
                                            <div class="col-md-3">{{ order.book.author.name }}</div>
                                            <div class="col-md-1">{{ order.book.price }} €</div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}